<p id="notice"><%= notice %></p>

<p>
  <strong>Turing user:</strong>
  <%= @check_out.turing_user_id %>
</p>

<%= link_to 'Edit', edit_check_out_path(@check_out) %> |
<%= link_to 'Back', check_outs_path %>
